@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&family=Noto+Sans+Display:ital@0;1&display=swap');

a {
    color:black;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

* {
    font-family: 'Encode Sans', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    overflow: auto;
}

header {
    overflow: hidden;
    top: 0;
    width: 100%;
    position: fixed; 
    display: flex;
    border:none;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    font-size: 2.5rem;
    background-color: white;
    z-index: 2;
}

/* Used in contact form */
form textarea {
    height: 250px;
    resize: none;
}

.body-background {
    background-image: url(/assets/images/oreo_background_blur.png);
}

/* Used for positioning content under header */
.body-content {
    display:block;
    position: relative;
    margin-top: 100px;
    overflow-y: auto;
    display: flex;
    padding-top: 250px;
    padding-bottom: 250px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.contact-title {
    text-align: center;
    padding-bottom: 10px;
}

.contact-form {
    width: 100%;
}

.contact-input {
    width: 100%;
    font-size: 14px;
    margin: 5px auto;
    padding: 13px 13px 13px;
    border-width: 1px;
    border-radius: 10px;
}

.form-container {
    background-color: white;
    padding-top: 35px;
    padding-right: 35px;
    padding-bottom: 25px;
    padding-left: 35px;
    border: solid;
    border-width: 0px;
    border-radius: 20px;
    overflow: hidden;
    width: 450px;
    height: 600px;
}

.form-message {
    width: 100%;
    height: 20px;
    position: relative;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.form-error {
    font-size: 14px;
    color: red;
    position: absolute;
    display: block;
}

.form-success {
    font-size: 14px;
    color: green;
    position: absolute;
    display: block;
}

.contact-button {
    width: 100%;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(60, 60, 60);
    color: white;
}

/* NavBar CSS*/

.logo {
    font-size: 3.5rem;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px; 
}

ul li a:hover {
    color: grey;
}

/* Home page CSS */

.index-content {
    display:block;
    position: relative;
    margin-top: 100px;
    overflow-y: auto;
    display: flex;
    padding-top: 210px;
    padding-bottom: 210px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.home-container {
    display: flex;
    justify-content: space-around;
    width: 75%;
}

.image-container {
    width: 465px;
    height: 665px;
    overflow: hidden;
}

.index-text {
    width: 465px;
    height: 665px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-text-title {
    color: white;
    font-size: 4.5rem;
    padding: 10px;
}

.index-text-body {
    font-size: 2.5rem;
    display: block;
    background-color: white;
    padding: 5px;
}

.home-image {
    width: 100%;
    height: 100%;
}

/* Footer CSS */
footer {
    bottom: 0;
    width: 100%;
    padding: 3.5rem 5%;
    background-color: white;
    text-align: center;
    font-size: 1.2rem;
}

.footerLinks {
    list-style: none;
}

.footerLinks li {
    display: inline-block;
    padding: 0px 30px;
}

.footerContent p {
    padding-top: 0.7rem;
    color: black;
    align-items: center;
    padding-bottom: 4px;
}




/* Brennen's About Me Section for John Oreo */

.aboutme {
    padding-top: 15rem;
    padding-bottom: 20rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: .5rem;
    overflow: auto;
    float: left;
    background-image: url("https://wallpapercave.com/wp/uZhkn80.jpg");
    color: whitesmoke;
    background-repeat: repeat;
    background-attachment: scroll;
    border: black;
}



.aboutme .leftText h1 {
    font-size: 6rem;
    text-decoration: underline;
    margin-left: 2rem;
    margin-top: 3rem;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: .25rem;
    line-height: 6rem;
    overflow: hidden;
}


.aboutme .leftText p {
    float: left;
    margin-top: 3rem;
    margin-right: 40%;
    margin-left: 3rem;

    padding-right: 4rem;
    padding-left: 3rem;

    border-style: inset;
    border-radius: 1rem;
    border-width: .5rem;

    background: rgba(67, 67, 67, 0.7);

    text-align-last: left;
    font-size: 2rem;
    text-transform: none;
}

.aboutme .johnOreoProfile img {
    float: right;
    height: 378px;
    width: 275px;
    border: grey 4px;
    border-style: outset;
    margin-right: 2rem;
    margin-bottom: 3rem;

}


.aboutme .rightText h2 {
    font-size: 6rem;
    text-decoration: underline;
    margin-right: 2rem;
    margin-top: 3rem;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: .25rem;
    line-height: 6rem;
    overflow: hidden;
}

.aboutme .rightText p {
    float: right;
    margin-top: 3rem;
    margin-right: 3rem;
    margin-left: 40%;

    padding-right: 4rem;
    padding-left: 3rem;

    border-style: inset;
    border-radius: 1rem;
    border-width: .5rem;

    background: rgba(67, 67, 67, 0.7);

    text-align-last: left;
    font-size: 2rem;
    text-transform: none;
}

.aboutme .johnsHome img {
    float: left;
    height: 300px;
    width: 400px;
    border: grey 4px;
    border-style: outset;
    margin-left: 2rem;
    margin-bottom: 3rem;
    overflow: auto;
}

.aboutme .oreoStack img {
    float: right;
    height: 350px;
    width: 350px;
    border: grey 4px;
    border-style: outset;
    margin-right: 2rem;
    margin-bottom: 3rem;

}

.aboutme .aftermathOf1912 img {
    float: left;
    height: 250px;
    width: 500px;
    border: grey 4px;
    border-style: outset;
    margin-left: 2rem;
    margin-bottom: 3rem;
    overflow: auto;
}
/* Nick's css code portion*/

.currentprojects
{
    float: left;
    background-image: url("https://wallpapercave.com/wp/uZhkn80.jpg");
    color: whitesmoke;
    background-repeat: repeat;
    background-attachment: scroll;
    border: black;
}