@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&family=Noto+Sans+Display:ital@0;1&display=swap');

a {
    color:black;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

* {
    font-family: 'Encode Sans', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    overflow: auto;
}

header {
    display: flex;
    border:none;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    box-shadow: 0 .10rem 1rem grey;
    font-size: 2.5rem;
}

form textarea {
    height: 250px;
    resize: none;
}

.body-contact {
    height: 100%;
    overflow-y: hidden;
}

.container-contact {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.contact {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-image: url(/assets/images/oreo_background_blur.png);
}

.contact-button {
    width: 100%;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(60, 60, 60);
    color: white;
}

.contact-form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    border-style: solid;
    padding-top: 35px;
    padding-right: 35px;
    padding-bottom: 25px;
    padding-left: 35px;
    border: none;
    border-radius: 20px;
    background-color: white;
}

.contact-input {
    width: 100%;
    font-size: 14px;
    margin: 5px auto;
    padding: 13px 13px 13px;
    border-width: 1px;
    border-radius: 10px;
}

.contact-title {
    text-align: center;
    padding-bottom: 10px;
}

.form-message {
    width: 100%;
    height: 20px;
    position: relative;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.form-success {
    font-size: 14px;
    color: green;
    position: absolute;
    display: none;
}

.logo {
    font-size: 3.5rem;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px; 
}

ul li a:hover {
    color: grey;
}

/* Brennen's About Me Section for John Oreo */

.aboutme {
    margin-top: .5rem;
    overflow: auto;
    float: left;
    background-image: url("https://wallpapercave.com/wp/uZhkn80.jpg");
    color: whitesmoke;
    background-repeat: repeat;
    background-attachment: scroll;
    border: black;
}



.aboutme .intro h1 {
    font-size: 6rem;
    text-decoration: underline;
    margin-left: 2rem;
    margin-top: 3rem;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: .25rem;
    line-height: 6rem;
    overflow: hidden;
}


.aboutme .intro p {
    float: left;
    margin-top: 3rem;
    margin-right: 45rem;
    margin-left: 3rem;

    padding-right: 4rem;
    padding-left: 3rem;

    border-style: inset;
    border-radius: 1rem;
    border-width: .5rem;

    background: rgba(67, 67, 67, 0.7);

    text-align-last: left;
    font-size: 2rem;
    text-transform: none;
}

.aboutme .johnOreoProfile img {
    float: right;
    height: 275px;
    width: 200px;
    border: grey 4px;
    border-style: outset;
    margin-right: 2rem;
    margin-bottom: 3rem;
}


.aboutme .earlyLife h2 {
    font-size: 6rem;
    text-decoration: underline;
    margin-right: 2rem;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: .25rem;
    line-height: 6rem;
    overflow: hidden;
}

.aboutme .earlyLife p {
    float: right;
    margin-top: 3rem;
    margin-right: 3rem;
    margin-left: 45rem;

    padding-right: 4rem;
    padding-left: 3rem;

    border-style: inset;
    border-radius: 1rem;
    border-width: .5rem;

    background: rgba(67, 67, 67, 0.7);

    text-align-last: left;
    font-size: 2rem;
    text-transform: none;
}

.aboutme .earlyLife .johnsHome img {
    float: left;
    height: 200px;
    width: 300px;
    border: grey 4px;
    border-style: outset;
    margin-left: 2rem;
    margin-bottom: 3rem;
    overflow: auto;
}

/* Nick's css code portion*/

.currentprojects
{
    float: left;
    background-image: url("https://wallpapercave.com/wp/uZhkn80.jpg");
    color: whitesmoke;
    background-repeat: repeat;
    background-attachment: scroll;
    border: black;
}