@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&family=Noto+Sans+Display:ital@0;1&display=swap');

a {
    color:black;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

* {
    font-family: 'Encode Sans', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    box-shadow: 0 .10rem 1rem grey;
    font-size: 2.5rem;
}

.logo {
    font-size: 3.5rem;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px; 
}

ul li a:hover {
    color: grey;
}
